<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="css/spotlight.css" type="text/css" rel="stylesheet">

    <script src="../node_modules/jquery/dist/jquery.js"></script>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../src/app.js"></script>
    <script src="../src/angularSpotlight.js"></script>
    <style>
        body {
            background-image: url(../src/background.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body ng-app="de.stekoe.spotlight.example">
        <spotlight-overlay></spotlight-overlay>
</body>
</html>