<div class="ng-spotlight ng-spotlight-overlay">
    <div class="ng-spotlight-searchbar">
        <div class="ng-spotlight-icon">
            <img src="magnifier.svg" width="100%">
        </div>
        <input class="ng-spotlight-input" type="text" placeholder="Spotlight-Suche" ng-model="searchTerm" ng-change="search()" />
        <div class="ng-spotlight-input-after" ng-if="searchResults.length == 0">&mdash; Keine Ergebnisse</div>
        <div class="ng-spotlight-info-sm">
            &nbsp;
        </div>
    </div>
    <div class="ng-spotlight-results-panel">
        <div class="ng-spotlight-results-list" >
            <ul>
                <li ng-repeat="searchResult in searchResults" ng-init="catIndex=$index">
                    <div class="ng-spotlight-results-list-header">{{searchResult.name}}</div>
                    <ul>
                        <li class="ng-spotlight-results-list-item" ng-class="(catIndex === 0 && $index === 0) ? 'active' : ''" ng-repeat="resultItem in searchResult.items" ng-click="showResultItem($event, resultItem)">
                            {{resultItem.name}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="ng-spotlight-results-detail">
            {{resultItem}}
        </div>
    </div>
</div>